<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<system.serviceModel>
    
    <client>
      <endpoint address="http://localhost:51707/MyService.svc"
        binding="basicHttpBinding"
        bindingConfiguration=""
        contract="WebServiceReference.IMyService"
        name="WebServiceEndpoint" />
    </client>
    
    
  </system.serviceModel>-->

  <system.serviceModel>  
        <bindings>  
            <basicHttpBinding>  
                <binding name="BasicHttpBinding_MyService" />  
            </basicHttpBinding>  
        </bindings>  
        <client>  
            <endpoint address="http://localhost:51707/MyService.svc" binding="basicHttpBinding"  
                bindingConfiguration="BasicHttpBinding_MyService" contract="WebServiceReference.IMyService"  
                name="BasicHttpBinding_MyService" />  
        </client>  
    </system.serviceModel>
</configuration>